<h2><%= @dish['name'] %></h2>

<img src="<%= @dish['image_url'] %>" alt="">

<a href="/dishes/<%= @dish['id'] %>/edit">edit dish</a>


<form action="/dishes/<%= @dish['id'] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>