<form action="/session" method="post">
  <label for="">email</label>
  <input type="text" name="email">

  <label for="">password</label>
  <input type="password" name="password">

  <button>fly me to the moon</button>
</form>