<form action="/dishes" method="post">
  <p>
    <label for="">name</label>
    <input type="text" name="name">
  </p>

  <p>
    <label for="">image url</label>
    <input type="text" name="image_url">
  </p>

  <button>win</button>
</form>