<h2>dishes</h2>

<%= link_to 'new dish', new_admin_dish_path %>

<% @dishes.each do |dish| %>

  <div class="row">
    <%= link_to dish.name, [:admin, dish] %>  
    <%= link_to 'edit', [:edit, :admin, dish] %>
  </div>

<% end %>